@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.react-calendar {
  border-color: transparent !important;
  color: #000;
  margin: 1rem auto 2rem auto;
  width: 400px !important;
  line-height: 2rem !important;
}

.react-calendar__month-view__weekdays__weekday abbr[title] {
  color: #000;
  font-size: 0.7rem;
  font-weight: 400 !important;
  text-decoration: none;
}

.react-calendar__month-view__days__day {
  color: #000 !important;
  font-size: 0.8rem !important;
}

.react-calendar__tile--active {
  background: transparent !important;
  position: relative;
}

.react-calendar__tile--active:after {
  content: "";
  width: 3px;
  height: 3px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.react-calendar__tile {
  padding: 0.9rem 0 !important;
  position: relative;
  background: transparent !important;
}

.react-calendar__tile:hover:after {
  content: "";
  width: 3px;
  height: 3px;
  background: #0000003f;
  border-radius: 50%;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.react-calendar__tile:disabled {
  background: transparent !important;
  color: #00000054 !important;
}

.react-calendar__tile:disabled:after {
  background: transparent;
}

.step-content input {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  margin: 0.2rem 0 1rem 0;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
}

.step-content button {
  padding: 0.6rem;
  cursor: pointer;
  margin: 1rem 0.5rem 0.5rem 0;
  border-radius: 5px;
  border: 1px solid #000;
  background: transparent;
  color: #000;
  transition: .1s;
}

.step-content button:hover {
  background: #ccc;
}

.step-content label {
  font-size: 0.8rem;
  margin: 1rem 0;
}

.step-content .icon {
  color: #1d90f5;
}

.progress-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 2rem auto 1rem auto;
}

.progress-point {
  position: relative;
  width: 3px;
  height: 3px;
  background-color: #1d90f5;
  border-radius: 50%;
}

.progress-point2 {
  position: relative;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #cccccccc;
}

.progress-line {
  flex: 1;
  height: 1px;
  background-color: #cccccccc;
}

.progress-line2 {
  flex: 1;
  height: 1px;
  background-color: #1d90f5;
}

.step-content-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: -2rem;
}

.close-button {
  padding: 5px;
  cursor: pointer;
}

.schedule-time {
  text-align: center;
}


.loading-animation {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid #1d90f5;
  border-radius: 50%;
  margin: 3rem auto;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

.ul-list {
  margin-left: -40px;
}

.lists {
  margin: 1rem 0;
  text-align: center;
  list-style-type: none;
  padding: 0.6rem 0;
  border: 1px solid rgba(167, 167, 167, 0.39);
  border-radius: 10px;
  font-size: 0.8rem;
  transition: .1s;
}

.lists:hover {
  background-color: #cccccc5b;
}

.schedule-text {
  font-size: 0.8rem;
  margin-top: 3rem;
  text-align: center;
}

.text-division {
  background: #f6f8fc;
  padding: 0.4rem 0.4rem 0.4rem 1rem;
  border-radius: 10px;
  margin: 2rem 0;
}

.text-division p:first-child {
  font-size: 0.9rem;
}

.text-division p:last-child {
  font-size: 0.7rem;
  margin-top: -0.7rem;
}

.name-container {
  display: flex;
  justify-content: space-between;
}

.name-input,
.lastname-input {
  flex: 1;
  margin-right: 1.6rem;
}

.error-message {
  color: red;
  font-size: 0.8rem;
  display: flex;
  margin-top: -0.9rem;
  margin-bottom: 1rem;
  flex-direction: column;
}

.finish-schedule {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.menu {
  display: flex;
  max-width: 1200px;
  margin: 5rem auto;
  justify-content: center;
  align-items: center;
}

.leftMenu {
  width: 800px;
  flex: 1;
  margin: 0 2rem;
  transform: .1s;
}

.leftMenu li {
  font-size: 0.8rem;
  cursor: pointer;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-top: none;
  transition: .1s;
}

.leftMenu li:hover {
  background: #00000018;
}

.rightMenu {
  flex: 2;
  text-align: center;
  margin: 0 auto;
}

.modal {
  position: fixed;
  background-color: white;
  padding: 2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  height: 600px;
  overflow-y: auto;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(40, 51, 61, .7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 460px;
  background-color: white;
}

.no-scroll {
  overflow: hidden;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
