code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  border-color: transparent !important;
  width: 400px;
  font-weight: 400;
}

.hours {
  text-align: center;
}

.hourst {
  text-align: center;
}

.react-calendar { 
  color: #000;
  margin: 2rem auto;
  width: 400px !important;
  line-height: 2rem !important;
 }

 .react-calendar__month-view__weekdays__weekday {
  color: #000000af;
  font-size: 0.7rem;
 }

 .react-calendar__month-view__days__day {
  color: #000 !important;
 }

 .react-calendar__tile--active {
  color: #fff !important;
  background: #000000e5 !important;
  border-radius: 10%;
 } 

 .react-calendar__tile--now {
  background: #fff !important;
  color: #000 !important;
 }

.react-calendar__tile {
  padding: 0.7rem !important;
  margin: 1px 0 !important;
}
.react-calendar__tile:hover {
  border-radius: 10%;
}
 .react-calendar__tile:disabled {
  background-color: transparent !important;
  color: #00000067 !important;
 }

.lis {
  margin: 1rem 0;
  text-align: center;
  list-style-type: none;
  padding: 0.6rem 0;
  border: 1px solid #ccc;
  font-size: 0.8rem;
  transition: .1s;
}

.lis:hover {
  background-color: #cccccc73;
}

 .loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust the height as needed */
}

.spinner {
  border: 6px solid rgba(0, 0, 0, 0.3);
  border-top: 6px solid #007bff; /* Loading spinner color */
  border-radius: 50%;
  width: 40px; /* Adjust the size as needed */
  height: 40px; /* Adjust the size as needed */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.menu {
  display: flex;
  max-width: 1200px;
  margin: 5rem auto;
  justify-content: center;
  align-items: center;
}

.leftMenu {
  width: 100%;
  margin: 0 2rem;
  transform: .1s;
}

.leftMenu li {
  font-size: 0.8rem;
  cursor: pointer;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-top: none;
  transition: .1s;
}

.leftMenu li:hover {
  background: #00000018;
}

.rightMenu {
  width: 2800px;
  text-align: center;
  margin: 0 auto;
}

.popup {
  /* Other styles for your popup */
  position: fixed;
  margin: 0 auto;
  z-index: 1000;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-height: 80%;
  overflow-y: auto; /* Enable scroll for the popup */
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.411);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  width: 600px;
  height: 80%;
  background-color: white;
  padding: 20px;
}
